
*{margin:auto}

h1, h2{
    text-align: center;
    margin-bottom: 0.5%;
}



/*Styling for the header*/
header {      
        height: 140px;
        background-color: rgb(18, 61, 10);
        position: relative;
        padding: 0 1em;
        justify-content: space-between;
        align-items: center;
        position: static;
        display: flex;       
    }

nav {    
        font-size: 1.4em;}
    nav ul li {
        display: inline;
           
         }       

    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        color: white; /*textfärg från variabel*/
        display: inline;
    }

    .active {
        color: rgb(154, 203, 226);
        font-style: italic;
         font-weight: bold;
   text-decoration-line: underline;
    }

    a:hover{
         background-color: rgb(11, 141, 28);
    }



body {
    
    font-family:Arial, Helvetica, sans-serif;
}

li {
    font-size: 1.4em;
    padding: 0.1em;}

    label {
        font-size: 1.4em;
        padding: 0.3em;
        
    }

    input {
    width: 14em;
    margin-bottom: 1%;
}

button {
    background-color: pink;
    width: 8em;
    margin-top: 1%;
    height: 2em;
    font-size: 1em;
    
}

section {
    background-color: rgb(138, 206, 206);
    padding: 5%;

    margin-bottom: 5%;

    border: 1px solid;
    /* display: flex; */
  align-items: center;
}

form {
    margin: auto;
    text-align: center;
    
}

#sectionAbout {
width: 80vh;


}

#flaggor li {
    list-style-type: none;
    justify-content: center;
    margin-top: 1em;
}

.container{
    max-width: 1500px;
    
}